@import 'layout-base.css';

#encounters{
background-color: yellow;
}

.components{
  height: auto;
}
.generatebutton{
background-color: limegreen;
border-color: limegreen;
margin: 2 127;
}